<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Receitas</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header>
    <h1>Sistema de Receitas</h1>
</header>

<main class="container">
    <nav>
        <a th:href="@{/categorias}">Categorias</a>
        <a th:href="@{/receitas}">Receitas</a>
        <a th:href="@{/categorias/nova}">Nova Categoria</a>
        <a th:href="@{/receitas/nova}">Nova Receita</a>
    </nav>
</main>
</body>
</html>
